@import './variables';
@import 'vuetify/styles/main.sass';
@import './override';
@import './layout/text';
@import './layout/reboot';
@import './layout/container';
@import './layout/sidebar';
@import './layout/rtl';
@import './layout/topbar';
@import './layout/horizontal';
@import './layout/dark';
@import './layout/customizer';

@import './components/VBreadcrumb';
@import './components/VAlert';
@import './components/VButtons';
@import './components/VCard';
@import './components/VCarousel';
@import './components/VField';
@import './components/VList';
@import './components/VInput';
@import './components/VNavigationDrawer';
@import './components/VShadow';
@import './components/VSwitch';
@import './components/VSelectionControl';
@import './components/VTextField';
@import './components/VTextarea';
@import './components/VTabs';
@import './components/VTable';
@import './components/VExpansionpanel';

/*Landing page css*/
@import 'landingpage/header';
@import 'landingpage/general';

@import './pages/datatable';
@import './pages/dashboards';
@import './pages/editor';
@import './pages/authentication';
@import './pages/apps';

@import 'vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css';



.logoStyleHeader{
    max-width:180px;
}
.iconCardTop{
    max-width:40px;
}
.cardStyleTop {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.innerCardImg {
    width: 60px;
    display: flex;
    margin-right: 20px;
    padding-right: 10px;
}

.innerCardContent {
    width: calc(100% - 80px);
}
.v-pagination__item--is-active button.v-btn.v-btn--icon {
    background-color: #033b4c;
    color: #fff;
}